alias ..="cd .."

alias v="vim"
alias m="mvim"

alias ls="ls -lG"
alias ld="ls -lG | grep ^d"

alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

alias ip="curl www.icanhazip.com"
alias localip="ifconfig getifaddr en1"

alias d="cd ~/dump"
alias c="cd ~/code"
alias lc="cd ~/lspl/code"

alias pong="ping -c 3 www.google.com"

alias mysql=/usr/local/mysql/bin/mysql
alias mysqladmin=/usr/local/mysql/bin/mysqladmin

alias path='echo -e ${PATH//:/\\n}'

alias sayit="pbpaste | say"

alias get="curl -O"

alias rm="rm -i"

alias oo="open ."

alias +x="chmod +x"

alias bd=". bd -s"

alias st="git st"

alias pm="python manage.py"
alias prr="pip install -r requirements.txt"
alias http="python -m SimpleHTTPServer"

alias t="tmux new -s "
alias ta="tmux a -t "
alias tl="tmux ls"

alias brci="brew cask install"
alias brcs="brew cask search"
alias bri="brew install"
alias brs="brew search"

alias vl="vim ~/Dropbox/2015.dat"
alias vd="vimdiff"

alias mk="mkdir -p"

alias s="cat some | vipe | sponge some && cat some | pbcopy"
