export MARKPATH=$HOME/.marks

function gi() 
{
  curl http://gitignore.io/api/$@
}

function e()
{
  [ ! -z $1 ] && open http://projecteuler.net/problem=$1
}

function a()
{
  if [ -d "env" ]
    then
      source env/bin/activate
  else
    echo "Directory doesn't contain a virtualenv"
      fi
}

cdf() {
  cd "`osascript -e 'tell app "Finder" to POSIX path of (insertion location as alias)'`"
}

function nyan() {
  echo
    echo -en $RED'-_-_-_-_-_-_-_'
    echo -e $NOCOLOR$BOLD',------,'$NOCOLOR
    echo -en $YELLOW'_-_-_-_-_-_-_-'
    echo -e $NOCOLOR$BOLD'|   /\_/\\'$NOCOLOR
    echo -en $GREEN'-_-_-_-_-_-_-'
    echo -e $NOCOLOR$BOLD'~|__( ^ .^)'$NOCOLOR
    echo -en $CYAN'-_-_-_-_-_-_-'
    echo -e $NOCOLOR$BOLD'""  ""'$NOCOLOR
    echo
}

function md() {
  mkdir -pv $1 && cd $1
}

function isprime {
  [ ! -z $1 ] && open http://is.$1.aprimenumber.com
}

function jump { 
  cd -P $MARKPATH/$1 2>/dev/null || echo "No such mark: $1"
}

function mark { 
  mkdir -p $MARKPATH; ln -s $(pwd) $MARKPATH/$1
}

function unmark { 
  rm -i $MARKPATH/$1 
}

function marks {
  ls -l $MARKPATH | sed 's/  / /g' | cut -d' ' -f9- | sed 's/ -/\t-/g' && echo
}

function mdgit {
  mkdir $1 && cd $1 && git init
}

function gogo {
  echo "Setting GOPATH to $(pwd)"
  export GOPATH=$(pwd)
  echo "putting $GOPATH/bin to PATH"
  export PATH=$GOPATH/bin:$PATH
}
